**/COLONIZE/**
build/
test-saves/
test-saves-bad/
test-saves-flow/
test-saves-col1/
test-saves-slot-ui/
test-assets/
colonize-linux.log
ripped_sound/
reference_music/
dosbox-x-dumps/
*.pyc
tools/brave_dump/shots
**/__pycache__/**
